.table_container{
    margin-top: 30px;
    min-height: 700px;
}
.novo_prod{
    margin-left: 25%;
    text-decoration: none;
    background-color: #0057d8;
    color: white;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 100px;
    font-size: larger;
    padding: 7px;
}
.novo_prod:hover{
    background-color: white;
    border: 1px solid #0057d8;
    color: #0057d8;
    cursor: pointer;
}
.table_prod{
    font-size: large;
    margin-top: 20px;
    margin-left: 25%;
    border-collapse: collapse;
    border-bottom: #d3d9df solid 1px;
    width: 50%;

}
.content:nth-child(odd) { background-color: rgb(218, 232, 252);}
.table_prod th{
    text-align: left;
    border-bottom: #d3d9df solid 1px;
}
.table_prod td{
    height: 40px;
}
.table_prod .td_cod{
    text-align: center;
}
.table_prod .td_valor{
    text-align: end;
    padding-right: 15px;
}
.table_prod .td_nome{
    width: 50%;
}
.edit{
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 7px 5px 7px;
    border: none;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    color: #00a300;
}
.edit:hover{
    color: #000000;
    cursor: pointer;
}
.delete{
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 7px 5px 7px;
    border: none;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    color: #FF0000;
}
.delete:hover{
    color: #000000;
    cursor: pointer;
}
.pagination{
    margin-top: 10px;
    text-align: center;
}